.root {
  height: 100vh;
  height: 100svh;
  display: grid;
  place-items: center;
}

.wordsContainer {
  display: flex;
  width: min(90%, 800px);
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 6rem;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid white;
  flex-direction: column;
}
