.root {
  padding: 2rem;
  height: 50vh;
  aspect-ratio: 4/3;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  max-width: 60vw;
  overflow: hidden;
  backdrop-filter: blur(10px) saturate(200%);
}

.text {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  @media (max-width: 900px) {
    font-size: 2rem;
  }
}
