.root {
  padding: 2rem;
  height: 50vh;
  aspect-ratio: 4/3;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  max-width: 60vw;
  overflow: hidden;
  box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.3) inset;
}

.text {
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  @media (max-width: 900px) {
    font-size: 2rem;
  }
}
