.root {
  position: absolute;
  border-radius: 8px;
  pointer-events: none;
  user-select: none;
  will-change: transform, opacity;
  opacity: 0;
  transition: opacity 1s, translate 1s;
  &:not(.inView) {
    translate: 0% 50%;
  }
  &.inView {
    opacity: 0.4;
  }
}

.root:nth-child(1) {
  top: 0;
  left: 0;
  transform: translate(50%, 50%) rotate(17deg) scale(0.8);
}

.root:nth-child(2) {
  top: 0;
  right: 0;
  transform: translate(-100%, 50%) rotate(-22deg) scale(0.8);
}

.root:nth-child(3) {
  bottom: 0;
  left: 0;
  transform: translate(70%, 20%) rotate(-18deg) scale(0.7);
}

.root:nth-child(4) {
  bottom: 0;
  right: 0;
  transform: translate(-50%, -20%) rotate(17deg) scale(0.8);
}

.root:nth-child(5) {
  top: 0;
  left: 0;
  transform: translate(60%, 130%) rotate(17deg) scale(0.3);
}

.root:nth-child(6) {
  top: 0;
  right: 0;
  transform: translate(-200%, 150%) rotate(-25deg) scale(0.3);
}

.root:nth-child(7) {
  bottom: 0;
  left: 0;
  transform: translate(170%, -40%) rotate(18deg) scale(0.4);
}

.root:nth-child(8) {
  bottom: 0;
  right: 0;
  transform: translate(-150%, 30%) rotate(-17deg) scale(0.5);
}

.root:nth-child(9) {
  top: 0;
  left: 0;
  transform: translate(250%, 80%) rotate(-17deg) scale(0.4);
}

.root:nth-child(10) {
  top: 0;
  right: 0;
  transform: translate(-350%, 150%) rotate(-22deg) scale(0.5);
}
