.scrollRoot {
  height: 3000px;
}

.root {
  position: sticky;
  top: 0;
  overflow-x: hidden;
  height: 100vh;
  height: 100dvh;
  max-width: 100vw;
}

.skills {
  display: flex;
  gap: 5rem;
  height: 100%;
  align-items: center;
  width: fit-content;
}

.title {
  position: relative;
  text-align: center;
  white-space: nowrap;
  font-size: 5rem;
  width: 100vw;
  @media (max-width: 1500px) {
    font-size: 4rem;
  }
  @media (max-width: 1000px) {
    font-size: 3rem;
  }
  @media (max-width: 800px) {
    font-size: 2rem;
  }
  @media (max-width: 600px) {
    font-size: 1.8rem;
  }
}
