@use '/styles/lib/colors.scss' as colors;

.root {
  position: sticky;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  top: 0;
  display: grid;
  place-items: center;
  background-image: linear-gradient(
    to bottom,
    black,
    colors.$brandPrimary 20%,
    black 120%
  );
}

.scrollRoot {
  height: 3000px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(80vw, 80vh, 500px);
}

.title {
  font-size: 3rem;
  text-align: center;
}

.list {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  grid-auto-rows: 1fr;
  text-align: center;
}

.link {
  display: block;
  border: 2px solid white;
  padding: 0.4em 1em;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1em;
  transition: color 0.2s ease, background-color 0.2s ease;
  &:hover {
    background-color: white;
    color: colors.$brandPrimary;
  }
}

.wave {
  position: relative;
  width: min(80vw, 80vh, 500px);
  margin: 0 auto;
  aspect-ratio: 1/1;
  z-index: -1;
  padding: 2rem;
  border-radius: 50%;
  overflow: hidden;
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 50%;
    height: 90%;
    border: 4px dashed white;
    filter: drop-shadow(0 0 0.5rem colors.$brandPrimary);
    animation: rotate 100s linear infinite;
    transform-origin: 0 0;
  }

  &::before {
    top: 100%;
    left: 100%;
    border-width: 20px;
    animation-duration: 200s;
  }
  .image {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.213);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
