.words-container {
  &:hover,
  &:focus-within {
    .spaced-text {
      opacity: 0.2;
      transition-delay: 0s;
      transition: opacity 0.5s ease-out, transform 0.5s ease-out,
        background-color 0.3s, color 0.1s;
      &:hover,
      &:focus {
        opacity: 1;
        background-color: transparent;
        color: white;
      }
    }
  }
}

.spaced-text {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s ease-out, transform 1s ease-out, color 1s,
    background-color 1s;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
}

.spaced-text--visible {
  opacity: 1;
  transform: translate(0, 0);
}

@for $i from 1 through 10 {
  .spaced-text:nth-child(#{$i}) {
    transition-delay: 0.2s * $i;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.indicator {
  stroke: red;
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
  width: 80px;
  height: 80px;
}
