.words-container {
  &:hover,
  &:focus-within {
    .spaced-text {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}
